// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(2, 1fr);

      .item {
        height: 45vh;

        .inlay .top {
          h3 {
            font-size: 1.5rem;
          }

          p {
            font-size: 0.85rem;
          }
        }
      }
  }
}

// Tablets & Small Laptops
@include mediaMd {
  article#home {
    align-items: center;
    text-align: center;

    .lg-header {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0,0,0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%,0,0);
    font-size: 1.5rem;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%,0,0);

    .portrait {
      background: url();
      width: 150px;
      height: 150px;
    }
  }

  section#what {
    .skills {
      grid-template-columns: 1fr;
    }

  }

  section#how {
    .tools {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      .tool {

        img {
          height: 75px;
        }
      }
    }
  }

  section#contact {
    flex-direction: column;

    .contact-left, .contact-right {
      width: 100%;
      transition: none;

      a {
        padding: 2rem;
      }

      p {
        font-size: 0.75;
        margin: 0;
      }

      h1 {
        font-size: 2rem;
      }
    }

    .contact-right {

      a {
        border-radius: 0;
        height: 240px;
        width: 240px;
      }
    }

    .contact-left {
      background: $secondary-color;

      &:not(:hover) a {
        border-radius: 50%;
        height: 240px;
        width: 240px;
      }

      a {
        border-radius: 50%;
        height: 240px;
        width: 240px;
      }

    }
  }

  .about-info {
    grid-template-areas:
    'bioimage'
    'bio'
    'job1'
    'job2'
    'job3';
    grid-template-columns: 1fr;
  }

  .help {
    width: 100%;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);

    .item {
      height: 45vh;

      &:hover {
        .inlay {
          background: rgba(0,0,0, 0.1);

          .top, .bottom {
            transform: translateY(0);
          }

          .top {
            opacity: 0;
          }
        }
      }

      .inlay {
        background: rgba(0,0,0, 0.1);
        opacity: 1;
        transform: scale(1);

        .bottom {
          opacity: 1;
          margin-bottom: 36px;
        }
      }
    }
  }
  .boxes {
    flex-direction: column;

    div.contact-form #form {
      width: 100%;


      input {
        height: 3rem;
        font-size: 1.25rem;
      }
      button[type=submit] {
        height: 2.5rem;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem 2rem;
  }
  input {
    height: 2.5rem;
  }
  h1, h2, h3 {
    &.sm-header {
      width: 75%;
    }
  }
  section {
    &#bg-image {
      &:after {
        background: rgba($primary-color, 0.6);
      }
    }

    &#what, &#how {
      padding: 1rem 2rem;
    }
  }
  section#bg-image article#home {
    padding: 1rem 2rem;

    h1 {
      margin-top: 15vh;
    }
  }
  section#how {
    .tools {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      padding: 1.5rem;

      .tool {
        img {
          height: 60px;
        }

        h3 {
          font-size: 1rem;
        }
      }
    }
  }

  section#contact {
    flex-direction: column;

    .contact-left, .contact-right {
      width: 100%;
    }

    .contact-right {
      a {
        width: 240px;
        border-radius: 0;
      }
    }
  }

  .about-info {
    .bio-image {
      height: 200px;
      width: 200px;
    }

    .bio {
      font-size: 1.25rem;
    }
  }

  .projects {
    grid-template-columns: 1fr;

    .item {
      height: 35vh;
    }
  }
}
